# Helm
charts/*
*.tgz
*.chart
.helm/

# Kubernetes & Helm Secrets
**/secrets/*
*values-secret.yaml
*-values.yaml

# Terraform 
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node (for Lambda)
node_modules/

# AWS
.aws/

# Misc
*.log
*.tmp
*.cache
.env