# Application Configuration
flask:
  image:
    repository: orelneto/flaskapp_with_db_motogpgif
    tag: 1.0.33
    pullPolicy: IfNotPresent
  service:
    type: LoadBalancer  # שינוי מ-NodePort ל-LoadBalancer
    port: 80  # שינוי ל-80 במקום 5000 (סטנדרטי יותר)
    targetPort: 5000  # התוכנה עדיין מאזינה על 5000
  replicas: 2  # הגדלנו ל-2 להגברת זמינות

mysql:
  image:
    repository: mysql
    tag: 1.0.33
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 3306
  replicas: 1
  persistence:
    enabled: true
    storageClass: "managed-premium"  # שינוי ל-Storage Class של Azure
    size: 10Gi  # הגדלת הנפח ל-10Gi למניעת בעיות ביצועים
  
# Database Configuration
database:
  name: mydatabase
  user: root
  password: rootpassword
  rootHost: "%"

# ConfigMaps and Init Scripts
initScript:
  enabled: true

# Ingress Configuration
ingress:
  enabled: false  # יופעל בשלב מאוחר יותר
  className: "nginx"
  annotations:
    kubernetes.io/ingress.class: nginx
  hosts:
    - host: gifapp.example.com
      paths:
        - path: /
          pathType: Prefix